## for statement exercises

## Count numbers 1

In [2]:
for i in range(-10, 11):
    print(i,end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [3]:
mysum = 0
for i in range(-10, 11, 2):
    print(i)

-10
-8
-6
-4
-2
0
2
4
6
8
10

## Arithmetic sum 2

In [11]:
## A
mysum = 0
for i in range(101):
    mysum += i
    print(f"{mysum}")

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [27]:
##B
mysum = 0
for i in range (1,101,2):
    mysum += i
    print(f"{mysum}")

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

## Multiplication table

In [65]:
##A
number = 5
numberstarter: +1
input = ("Write first number")
input = ("Write second number")
sum = (input * input)

for count in range (1,13):
    product = number * count
    print(number, "x", count, "=", product,)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
##A
number = 5
numberstarter: +1
input = ("Write first number")
input = ("Write second number")
sum = (input * input)

for count in range (1,13):
    product = number * count
    print(number, "x", count, "=", product,)